
body {
    text-align: center;
    background: linear-gradient(45deg, #d5f0e7 , #b1e0d1, #b7e1e5, #e2d0e3);
/*    background: linear-gradient(45deg, #d5f0e7 , #b1e0d1);*/
    animation: gradientAnimation 15s ease infinite;
    overflow:scroll;
    background-size: 400% 400%;
    font-family: "Poppins", sans-serif;
}

    @keyframes gradientAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

rect {
    fill:none;
}

path {
    fill:white;
}

header {
    font-family: "Rubik Dirt", system-ui;
    margin-top: 20px;
    font-size: 5vw;
}

.valid {
    background-color: #c7eaca;
    border:1px solid #749077;
}

.notValid {
    background-color: #eac7c7;
    border: 1px solid #9d6868;
}

.popup {
    position: absolute;
/*    opacity: 0.8;*/
    transition: opacity 0.5s ease;
    border-radius: 10px;
    padding:5px;
    
}

.popup.hide {
    opacity: 0;
}

#map path:hover {
    fill: #e2e2dc; 
    cursor: pointer;
}

#tooltip {
    position: fixed;
    background-color: #60605f;
/*    opacity: 0.9;*/
    color: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    display: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}
#desc {
    font-size: 3.5vw;
}
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 
 
.btn-fill-bottom {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 40px;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease 0s;
} 
 
.btn-fill-bottom::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 200px;
  width: 250px;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: all 0.7s ease 0s;
} 
 
.btn-fill-bottom:hover {
  color: rgb(255, 255, 255);
} 
 
.btn-fill-bottom:hover::before {
  top: -40px;
  left: -40px;
} 
 
.btn-fill-bottom--black {
  color: rgb(51, 51, 51);
  border: 2px solid rgb(51, 51, 51);
} 
 
.btn-fill-bottom--black::before {
  background: rgb(51, 51, 51);
} 

#done {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 4vw;
}

.fa-circle-question {
    transform: scale(0.6);
}

#helpModal {
  background-color: #fefefe; /* White background */
  margin: 10% auto; /* Center modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  max-width: 400px; 
  text-align: left;
}

#closeModal {
    background-color: none;
    background:none;
    border: none;
}
    
#modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

#refresh {
  border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #b1e0d1, #e2d0e3);
 border-radius: 20px;
/* background-size: 100% auto;*/
 font-family: inherit;
 padding: 0.6em 1.5em; 
}

#refresh:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}